table {
     border-collapse: collapse;
}


td, tr{ 
border-collapse:collapse;
border: 1px solid black;
width:7px;
height:7px;

}

th {
    border-collapse:collapse;
    border: 1px solid black;
    width:20px;
}
 